[user]
	email = caio.arruda@pagar.me
	name = Caio Arruda
[core]
	editor = code
[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[pull]
	rebase = true
[branch]
	autosetuprebase = always

